<div class="view">
    
    <div class="view hm-black-strong">
        <div class="full-bg-img flex-center">
            <%= form_for @game do |f| %>
              <%= f.submit 'Game Start!', class: 'game btn btn-danger btn-rounded' %>
            <% end %>
        </div>
    </div>
</div>
